/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------*/
body{
	background-color: #25006D
}

#particles-js{
  width: 100%;
  height: 100vh;
  background-color: #FF0081;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -10
}

#particles-js1{
  width: 100%;
  height: 100vh;
  background-color: #FF0081;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -10
}

#typed{
	font-size: 3em;
	color: white;
}

nav{
	height: 4em;
	background-color: #25006D;
}

.splash{
	font-family: 'Neuton', serif;
	position: relative;
}

.splash-center{
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.off-c{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.splash-title{
	font-size: 4em;
	color: #ffffff;
}

.accent-a{
	font-size: 1.6em;
}

.accent-b{
	font-family: 'Eczar', serif;
	color: #42C6FF;
	font-size: 2.1em;
}

.about-center{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-title{
	margin: 5% 0 0 0;
	padding: 2%;
	font-family: 'Work Sans', sans-serif;
	font-size: 3.5em;
	color: #ffffff;
	border: solid 0.1em #ffffff;
	background-color: #230065;
}

.about-main-container{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin: 5%;
}

.img-circle{
	padding: 5% 0;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.about-info{
	display: flex;
	flex-direction: column;
	padding: 5%;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.3em;
}

.article-p{
	margin: 2%;
}

.accent-p{
	color: #D90843;
}

.skills{
	background-color: #A395D8;
}

.skills-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills-title{
	margin: 5% 0;
	padding: 2%;
	font-family: 'Work Sans', sans-serif;
	font-size: 3.5em;
	color: #230065;
	border: solid 0.1em #230065;
}

.skills-icon-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 20%;
}

.skill{
	margin: 5%;
}

.icon-img{
	width: 5em;
	padding: 1%;
}

.projects-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
}

.projects-title{
	margin: 5% 0 0 0;
	padding: 2%;
	font-family: 'Work Sans', sans-serif;
	font-size: 3.5em;
	color: #FF0081;
	border: solid 0.1em #FF0081;
}

.cards-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.links{
	font-family: 'Work Sans', sans-serif;
}

.links > a {
	margin: 10px 20px;
	padding: 2px;
	text-decoration: none;	
	color: #42C6FF;
}

.project-card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 2%;
	padding: 2%;
	height: 425px;
	width: 400px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.project-title{
	font-family: 'Neuton', serif;
	font-size: 2em;
	margin: 2% 0;
	color: #FF0081;
}

.project-about{
	font-family: 'Neuton', serif;
	color: #FF0081;
	font-size: 1.2em;
}

.project-tn{
	width: 350px;
	height: 250px;
	margin-bottom: 5%;
}

.contact{
	min-height: 100vh;
	width: 100%;
	background-color: #FF0081;
}

.contact-container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-icon{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.icon-img-c{
	width: 150px;
	height: 150px;
	margin: 2%;
}

.contact-icon > a {
	margin: 2.5%;
}

.contact-title{
	font-size: 4.8em;
	color: #ffffff;
	margin: 2.5%;
}

.accent-title{
	color: #42C6FF;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 4em;
	background-color: #25006D;
}

.footer-format{
	font-size: 0.8em;
	color: #ffffff;
	margin-bottom: 10px;
}

footer > a{
	font-size: 0.8em;
	color: #ffffff;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




