/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------*/
body{
	background-color: #8F2AA3
}

#particles-js{
  width: 100%;
  height: 100vh;
  background-color: #FF0081;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -10
}

#typed{
	font-size: 3em;
	color: white;
}

nav{
	height: 3em;
	background-color: #25006D;
}

.splash{
	font-family: 'Neuton', serif;
	position: relative;
}

.splash-center{
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.off-c{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.splash-title{
	font-size: 4em;
	color: #ffffff;
}

.accent-a{
	font-size: 1.6em;
}

.accent-b{
	font-family: 'Eczar', serif;
	color: #42C6FF;
	font-size: 2.1em;
}

.about{
	width: 100%;
}

.about-center{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-title{
	margin: 5% 0 0 0;
	padding: 2%;
	font-family: 'Work Sans', sans-serif;
	font-size: 3.5em;
	color: #ffffff;
	border: solid 0.1em #ffffff;
	background-color: #230065;
}

.about-main-container{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin: 5%;
}

.img-circle{
	padding: 5% 0;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.about-info{
	display: flex;
	flex-direction: column;
	padding: 5%;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.3em;
}

.article-p{
	margin: 2%;
}

.accent-p{
	color: #D90843;
}

.skills{
	background-color: #A395D8;
}

.skills-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills-title{
	margin: 5% 0;
	padding: 2%;
	font-family: 'Work Sans', sans-serif;
	font-size: 3.5em;
	color: #230065;
	border: solid 0.1em #230065;
	background-color: #ffffff;
}

.skills-icon-container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 20%;
}

.skill{
	margin: 5%;
}

.icon-img{
	width: 5em;
	padding: 1%;

}

.icon-title{
	font-size: 1.2em;
	color: #ffffff;
}














